{% extends 'AppBundle:Layout:template.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{asset('assets/plugins/iCheck/all.css')}}">
{% endblock %}

{% block title %}Profesores{% endblock %}

{% block css %}
    
{% endblock %}

{% block subtitle %}<small></small>{%endblock%}

{% block navigation %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">
        Profesores
    </li>
{%endblock%}

{% block maincontent %}
    
{%endblock%}

{% block js %}
    
{% endblock %}
